body {
    font-family: 'montserrat', sans-serif;
    background-color:

}

h1,
h2,
h3 {
    font-weight: 900;
}

h4,
h5,
h6 {
    font-weight: 700;
}

.btn-outline-secondary {
    background-color: transparent !important;
    border-color: #011627 !important;
    color: #011627 !important;
    border-radius: 0%;
    position: relative;
}

.btn-outline-secondary::before {
    content: '';
    position: absolute;
    background-color: #83f3ed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.5s;
}

.btn-outline-secondary:hover:before {
    width: 100%;
}

.btn-secondary {
    background: #011627 !important;
    border-radius: 0;
    border-color: #011627 !important;
}

.btn-secondary:hover {
    color: #83f3ed;
}

.btn-primary {
    background: #83f3ed !important;
    border-radius: 0;
    border-color: #83f3ed !important;
    color: #011627 !important;
}

.btn-primary:hover {
    background: #011627 !important;
    color: #83f3ed !important;
}

/*---------navbar------*/

.navbar {
    background: #efff;
    border-bottom: 1px solid #eee;
}

.nav-link,
.navbar-brand {
    color: #011627;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #777;
}

.navbar-brand {
    font-size: 1.8rem;
}







.call-to-action {
    background: #011627 !important;
    color: #fafaff;
}

.heading-line {
    height: 3px;
    width: 10%;
    background: #83f3ed;

}

.services i {
    font-size: 2rem;
    color: #83f3ed;
}

/*-----------------protfolio-----------*/
.dark {
    color: #83f3ed;
    background: #011627;
    height: 300px;
}

.dark i {
    font-size: 1.3rem;
    color: #83f3ed;
}

.protfolio .img-fluid {
    height: 300px;
    object-fit: cover;
}

.protfolio .col-lg-3 {
    position: relative;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #83f3ed;
    opacity: 0.8;
}

/*----------footer-----*/
.footer {
    background: #011627;
    color: #fafaff;
    margin-top: 22px;
}

.footer a {
    color: #fafaff;
}

@media(max-width:900px) {
    .navbar .nav-item {
        display: block;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }

    .call-to-action .container {
        width: 100% !important;
    }
}

.map {
    width: 500px;
}